.backadmin{
    background-color: rgb(160, 167, 244);
}
.pageadmin{
    background-color: rgb(160, 167, 244);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}
.menu-admin {
    background-color: rgb(160, 167, 244);
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .menu-admin>*:hover {
    transition: transform .3s;
    transform: translateY(-16px);
  }